<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% block title %} {% endblock %}</title>
    <meta name="keywords" content="{% block keywords %} {% endblock %}">
    <meta name="description" content="{% block description %} {% endblock %}">

    {% include 'css.html' %}

    {% block stylesheet %} {% endblock %}

</head>

<body>

    {% include 'header.html' %}

    {% block message %} {% endblock %}

    {% block sidebar %} {% endblock %}

    {% block slider %} {% endblock %}


    {% block content %} {% endblock %}


    {% include 'footer.html' %}

    {% include 'scripts.html' %}

    {% block scripts %} {% endblock %}
</body>

</html>